AIC_2010_WS_Assignment_2/ressources/ShippingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ShippingService" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/shipping">
<xs:element name="Addresses" type="tns:AddressesType"/>
<xs:element name="Item" type="tns:ItemType"/>
<xs:element name="Product" type="tns:ProductType"/>
<xs:element name="ship_items" type="tns:ship_items"/>
<xs:element name="ship_itemsResponse" type="tns:ship_itemsResponse"/>
<xs:complexType name="ship_items">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="items" type="tns:ItemType"/>
<xs:element minOccurs="0" name="address" type="tns:AddressesType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ItemType">
<xs:sequence>
<xs:element default="0" name="quantity" type="xs:int"/>
<xs:element ref="tns:Product"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductType">
<xs:sequence>
<xs:element default="null" minOccurs="0" name="name" type="xs:string"/>
<xs:element default="0" minOccurs="0" name="singleUnitPrice" type="xs:decimal"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="AddressesType">
<xs:sequence>
<xs:element default="nill" name="street" type="xs:string"/>
<xs:element default="nill" name="city" type="xs:string"/>
<xs:element default="0" name="house" nillable="true" type="xs:int"/>
<xs:element default="0" name="door" nillable="true" type="xs:int"/>
<xs:element default="nill" name="zipCode" type="xs:string"/>
<xs:element default="false" name="isShipping" type="xs:boolean"/>
<xs:element default="false" name="isBilling" nillable="true" type="xs:boolean"/>
<xs:element default="false" name="isOther" nillable="true" type="xs:boolean"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="ship_itemsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="uuid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="UnknownAddress" type="tns:UnknownAddress"/>
<xs:complexType name="UnknownAddress">
<xs:sequence/>
</xs:complexType>
<xs:element name="UnknownProduct" type="tns:UnknownProduct"/>
<xs:complexType name="UnknownProduct">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="UnknownProductFault">
    <wsdl:part name="UnknownProductFault" element="tns:UnknownProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownAddressFault">
    <wsdl:part name="UnknownAddressFault" element="tns:UnknownAddress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ship_itemsResponse">
    <wsdl:part name="parameters" element="tns:ship_itemsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ship_items">
    <wsdl:part name="parameters" element="tns:ship_items">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShippingService">
    <wsdl:operation name="ship_items">
      <wsdl:input name="ship_items" message="tns:ship_items">
    </wsdl:input>
      <wsdl:output name="ship_itemsResponse" message="tns:ship_itemsResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownAddressFault" message="tns:UnknownAddressFault">
    </wsdl:fault>
      <wsdl:fault name="UnknownProductFault" message="tns:UnknownProductFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingServiceSoapBinding" type="tns:ShippingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ship_items">
      <soap:operation soapAction="urn:Ship_items" style="document"/>
      <wsdl:input name="ship_items">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ship_itemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownAddressFault">
        <soap:fault name="UnknownAddressFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownProductFault">
        <soap:fault name="UnknownProductFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingService">
    <wsdl:port name="ShippingPTPort" binding="tns:ShippingServiceSoapBinding">
      <soap:address location="http://localhost:9090/ShippingPTPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
