AIC_2010_WS_Assignment_2/ressources/SupplierService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SupplierService" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/supplying" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/supplying" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/supplying" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/supplying">
<xs:element name="Product" type="tns:ProductType"/>
<xs:element name="order" type="tns:order"/>
<xs:element name="orderResponse" type="tns:orderResponse"/>
<xs:complexType name="order">
<xs:sequence>
<xs:element minOccurs="0" name="product" type="tns:ProductType"/>
<xs:element name="amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductType">
<xs:sequence>
<xs:element default="null" minOccurs="0" name="name" type="xs:string"/>
<xs:element default="0" minOccurs="0" name="singleUnitPrice" type="xs:decimal"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="orderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="totalPrice" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
<xs:element name="UnknownProduct" type="tns:UnknownProduct"/>
<xs:complexType name="UnknownProduct">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="order">
    <wsdl:part name="parameters" element="tns:order">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderResponse">
    <wsdl:part name="parameters" element="tns:orderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownProductFault">
    <wsdl:part name="UnknownProductFault" element="tns:UnknownProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SupplierService">
    <wsdl:operation name="order">
      <wsdl:input name="order" message="tns:order">
    </wsdl:input>
      <wsdl:output name="orderResponse" message="tns:orderResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownProductFault" message="tns:UnknownProductFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupplierServiceSoapBinding" type="tns:SupplierService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="order">
      <soap:operation soapAction="urn:Order" style="document"/>
      <wsdl:input name="order">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownProductFault">
        <soap:fault name="UnknownProductFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierService">
    <wsdl:port name="SupplierPTPort" binding="tns:SupplierServiceSoapBinding">
      <soap:address location="http://localhost:9090/SupplierPTPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
